input[type=number] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=text] {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 17%;
  margin-right: 10px;
  margin-left: 4px;
}

#dropDownMenu {
  width: 30%;
}

label select {
  width: 57%;
  margin-left: 4px;
}

.rollResult {
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 0px;
}

.statInput {
  display: inline-block;
  width: 8%;
  text-align: center;
  margin: 0px 0px 10px;
}

.statInput label {
  margin: 4px 0px;
}

.statInput input {
  width: 60%;
  text-align: center;
}

.crudButtons {
  margin: 6px 4px;
}

#rollButton {
  margin-left: 4px;
}
