input[type=number] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=text] {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#dropDownMenu {
  width: 30%;
}

label select {
  width: 100%;
}

.rollResult {
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 0px;
}

.statInput {
  display: inline-block;
  width: 10%;
  text-align: center;
  margin: 10px 5px;
}

.statInput label {
  margin-bottom: 4px;
}

.statInput input {
  width: 60%;
  text-align: center;
}
